<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>메인 페이지</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<header th:insert="~{fragment/common :: header}"></header>
  <div class="container mt-5 mb-5">
    <h2 class="page-title mb-4" th:text="${categoryName} + ' 맛집을 찾아볼까요?'">식당 찾기</h2>
    <table class="table">
      <thead>
        <tr>
          <th class="owner-check" style="display: none;">선택</th>
          <th>식당 이름 </th>
        </tr>
      </thead>
      <tbody>
        <!-- 해당 카테고리의 맛집이 존재하는 경우 출력하기, th:unless: 반복문안에서 특정 조건에 따라 렌더링 제어,(조건이 거짓일 경우 렌더링) -->
        <tr th:each="diner :${dinerList.content}" th:unless="${dinerList.isEmpty()}">
          <td class="owner-check" style="display: none;"><input type="checkbox" name="selectDiner" th:value="${diner.id}"></td>
          <td><a th:text="${diner.dinerName}" th:href="@{/diner/reservation(id=${diner.id})}">식당이름</a></td>
        </tr>
        <!-- 해당 카테고리의 식당이 존재하지 않는 경우 -->
        <tr th:if="${dinerList.isEmpty()}">
          <td colspan="2" class="text-center py-5">
            현재 준비중입니다.
          </td>
        </tr>
      </tbody>
    </table>
    <!-- 페이지 네비게이션 -->
      <nav th:if="${!dinerList.isEmpty()}">
          <ul class="pagination"
              th:with="start=${T(java.lang.Math).floor(dinerList.number / 10) * 10},
                 end=(${start + 9 < dinerList.totalPages ? start + 9 : dinerList.totalPages - 1})">

              <li class="page-item" th:classappend="${dinerList.first} ? 'disabled'">
                  <a class="page-link" th:href="@{/diner/list(category=${categoryName}, page=0)}">처음으로</a>
              </li>

              <li class="page-item" th:classappend="${dinerList.first} ? 'disabled'">
                  <a class="page-link" th:href="@{/diner/list(category=${categoryName}, page=${dinerList.number - 1})}">이전</a>
              </li>

              <li class="page-item" th:each="pageNum : ${#numbers.sequence(start, end)}"
                  th:classappend="${pageNum == dinerList.number} ? 'active'">
                  <a class="page-link" th:href="@{/diner/list(category=${categoryName}, page=${pageNum})}" th:text="${pageNum + 1}">1</a>
              </li>

              <li class="page-item" th:classappend="${dinerList.last} ? 'disabled'">
                  <a class="page-link" th:href="@{/diner/list(category=${categoryName}, page=${dinerList.number + 1})}">다음</a>
              </li>

              <li class="page-item" th:classappend="${dinerList.last} ? 'disabled'">
                  <a class="page-link" th:href="@{/diner/list(category=${categoryName}, page=${dinerList.totalPages - 1})}">끝으로</a>
              </li>
          </ul>
      </nav>
  </div>
<footer>
  <div th:insert="~{fragment/common :: footer}"></div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>